<div class="jumbotron">
  <form action="/reserve" id="reserve" class="form-reserve" method="post">
    <h2 class="form-reserve-heading">Ojebavacske rezervacie</h2>

    <input type="text" class="form-control" placeholder="Username" name="username" autofocus>

    <input type="password" class="form-control" placeholder="Password" name="password" id="password">
    <br />

    <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <br/>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Rezervuj"/>
  </form>

</div>
